.animation1{
    position: absolute;
    width: 120px;
}
@keyframes mymove{
   from{
    top:100px;
    left:0px;
    animation-name: mymove;
    animation-duration: 15s;
    animation-delay: 3s;
    animation-timing-function: linear;
    animation-duration: alternate;
    animation-iteration-count: 1;
}
to {
    top:20px;
    right: 0px;
}
}

.animation2{
    align-items: flex-end;
}