.animation1{
    position: absolute;
    animation-name: myMove;
    animation-direction:alternate;
    animation-duration: 20s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
@keyframes myMove{
   0%{
    top:100px;
    right:0px;
}
20% {
  top: 100px;
  right: 150px;
}
40% {
   top: 100px;
   right: 250px;
}
60%{
  top: 100px;
  right: 350px;
}
80%{
  top: 100px;
  right: 450px;
}
  100% {
  top: 100px;
  right: 650px;
}

}

.animation2{
    position: absolute;
    animation-name: myMove1;
    animation-direction:alternate;
    animation-duration: 20s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}  
@keyframes myMove1{
   0%{
    top:100px;
    left:-10px;
  }
  20% {
    top: 100px;
    left: 150px;
  }
  40% {
    top: 100px;
    left: 250px;
  }
  60% {
    top: 100px;
    left: 350px;
  }
  80% {
    top: 100px;
    left: 450px;
  }
  100% {
    top: 100px;
    left: 650px;
  }
  } 
  body{
    background-color: aqua;
  }