.animation1{
    position: absolute;
    animation-name: myMove;
    animation-direction:alternate;
    animation-duration: 20s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 4;
}
@keyframes myMove{
   0%{
    top:10px;
    right:0px;
}
50% {
  top: 10px;
  right: 250px;
}
80% {
   top: 20px;
   right: 500px;
}
100%{
  top: 30px;
  right: 800px;
}
}

.animation2{
    position: absolute;
    animation-name: myMove1;
    animation-direction:alternate;
    animation-duration: 20s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 4;
}  
@keyframes myMove1{
   0%{
    top:10px;
    left:0px;
  }
  50% {
    top: 20px;
    left: 500px;
  }
  80% {
    top: 30px;
    left: 800px;
  }
  100%80% {
    top: 40px;
    left: 1000px;
  }
  } 